<ng-container *ngIf="(mainAction$ | async) as action">
    <ng-container [ngSwitch]="action.type">
        <button
            *ngSwitchCase="actionTypes.button"
            mat-stroked-button
            (click)="runAction(action.actions.click)"
            class="app-main-action-button"
        >
            {{action.title | translate}}
        </button>
    </ng-container>
</ng-container>

