/* You can add global styles to this file, and also import other style files */
@import '~@alfresco/adf-core/prebuilt-themes/adf-blue-orange.css';
@import 'app/ui/application';

body,
html {
  height: 100%;
  font-family: 'Muli', 'Helvetica', 'Arial', sans-serif !important;
}

body {
  margin: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
