<aca-page-layout>
  <aca-page-layout-header>
    <adf-breadcrumb root="APP.NEW_MENU.MENU_ITEMS.ADD_DOCUMENT"> 
    </adf-breadcrumb>
  </aca-page-layout-header>
  <aca-page-layout-content>
    <div class="main-content">
      <mat-vertical-stepper [linear]="isLinear" #stepper *ngIf="!spinnerOn">
        <mat-step [completed]="uploadCompleted">
          <ng-template matStepLabel>Importer un fichier</ng-template>
          <form [formGroup]="docUploadGroup">
            <div class="upload-content">
              <input
                type="file"
                class="file-upload"
                (change)="fileBrowseHandler($event)"
                #fileDropRef
                formControlName="docUpload"
                id="fileDropRef"
                [disabled]="uploadContentExist"
              />
              <mat-icon>note_add</mat-icon>
              <h3>Glisser-déposer votre fichier</h3>
              <label for="fileDropRef">Click pour importer</label>
            </div>
          </form>
          <br />
          <mat-label aria-label style="font-weight:bold;">
            Fichier Upload :</mat-label
          >
          <div class="myFileInfo" *ngIf="uploadContentExist">
            <mat-card>
              <br />
              <mat-list>
                <mat-list-item>
                  <mat-label aria-label style="font-weight:bold;">
                    Nom : {{ fileToUpload.name }}</mat-label
                  >
                  <mat-label aria-label style="font-weight:bold;">
                    Taille : {{ fileToUpload.size }}</mat-label
                  >
                  <mat-label aria-label style="font-weight:bold;">
                    Format : {{ fileToUpload.type }}</mat-label
                  >
                  <button (click)="resetDocumentUpload()">
                    <mat-icon>
                      delete
                    </mat-icon>
                  </button>
                </mat-list-item>
              </mat-list>
            </mat-card>
        </div>
        <div>
          <button mat-button matStepperNext>Suivant</button>
        </div>

        </mat-step>
        <mat-step>
          <form [formGroup]="docFormGroup">
            <ng-template matStepLabel
              >Remplir le formulaire du document</ng-template
            >
            <mat-card>
              <br />
              <mat-label>Emplacement du Document</mat-label>
              <br />
              <adf-content-node-selector-panel
                [currentFolderId]="'-root-'"
                [restrictRootToCurrentFolderId]="true"
                [rowFilter]="folderFilter"
                (select)="onSelect($event)">
              </adf-content-node-selector-panel>
              <br />
              <mat-label>Date du Document</mat-label>
              <br />
              <mat-form-field class="example-full-width">
                <mat-label>Année</mat-label>
                <input matInput formControlName="yearDoc" />
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label>Mois</mat-label>
                <input matInput formControlName="monthDoc" />
              </mat-form-field>
              
            </mat-card>
          </form>
          <div>
            <button mat-button matStepperPrevious>Précédent</button>
            <button mat-button [disabled]="uploadNextDis" (click)="valider()">
              Valider
            </button>
          </div>
        </mat-step>

      </mat-vertical-stepper>
      <mat-spinner *ngIf="spinnerOn"></mat-spinner>
    </div>
  </aca-page-layout-content>
</aca-page-layout>
